.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}
.header {
    line-height: 100px !important;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 45px !important;
  }
  .container2{
    width: 100%;
    align-items: baseline;
    text-align: center;
    min-height: 90vh;
    display: grid;
    gap: 10px;
    grid-template-columns: 20% 20%;
    align-content: stretch;
    justify-content: space-evenly;
    justify-items: center;
}
.button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black !important;
  }