.container{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.formContainer {
    height: auto;
  }
  .header {
    line-height: 100px !important;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 45px !important;
  }