.heading {
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align: center;
}
.header{
    height: 80px;
}
.h4{
    font-weight: 400 !important;
    font-size: 32px !important;
    line-height: 49px !important;
    position: absolute;
    left: 2%;
    bottom: 22%;
}
